.image {
    height: 40rem;
    width: 100%;
}

h3 {
    text-transform: uppercase;
    font-family: "Montserrat Alternates", sans-serif;
    text-align: center;
    font-weight: 900;
    margin: 5rem;
}

p {
    font-family: "Montserrat Alternates", sans-serif;
}

.content{
   text-align: justify;
   width: 100%;
   margin-bottom: 3rem;

}

.dateAuthor {
    color: gray;
    text-align: left !important;
    margin-left: 4.3rem;
}
