<!-- loader -->

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-atom">
    <div class="loader">
        <p>LOADING....</p>
    </div>
</ngx-spinner>

<!-- loader -->



<!-- Navbar Header Component -->
<header>
    <app-navbar></app-navbar>

</header>

<main>
    <div class="container-fluid">

        <div class="row">

            <!-- Top Big Blog  number 1 -->
            <div class="col-md-12 col-sm-12 col-xs-12 cover">
                <!-- <h3></h3> -->
                <div class="card">
                    <button [routerLink]="['/blog']" class="btn third">All Blogs</button>
                </div>
            </div>

        </div>


        <!-- main second row  -->

        <div class="row">

            <div class="card col-lg-9 mx-auto mainCard">

                <!-- All blogs section -->

                <div class="row p-3">



                    <div class="col-lg-4 col-md-6 md-mb-30 sm-mb-30" *ngFor="let article of topThree;let i =index">
                        <div class="card blogsCard">
                            <div class="content">
                                <img class="cardImage " src="{{imgUrl}}{{article.image}}">

                                <h4 class="blogTitle">{{article.title}}</h4>
                                <div class="authorSmall">
                                    <span><i class="fa fa-calendar date p-2 "></i>{{article.createdAt}}</span>
                                    <span><i class="fa fa-user date p-2 ml-4"></i>{{article.author}}</span>
                                </div>
                                <div class="desc">
                                    <p> {{article.description}}</p>
                                </div>

                            </div>
                            <button class="btn third" routerLink="/blog/{{article._id}}">Read More</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- 3rd Row -->

        <div class="row">
            <!-- Fourth blog card -->
            <div class="col-lg-8 ">
                <div class="card bigCard">
                    <h3>{{fourth.title}}</h3>
                    <div class="dateAuthor">
                        <span><i class="fa fa-calendar date p-2 "></i>{{fourth.createdAt}}</span>
                        <span><i class="fa fa-user date p-2 ml-4"></i>{{fourth.author}}</span>
                    </div>

                    <div>
                        <img class="bigImg" src="{{imgUrl}}{{fourth.image}}">
                    </div>

                    <div [innerHTML]="fourth.content">
                    </div>


                    <button class="btn third" routerLink="/blog/{{fourth._id}}">Read More</button>


                </div>
            </div>
            <!-- authors section -->
            <div class="col-lg-4">
                <div class="card cards">
                    <h3>Our Authors </h3>
                    <div class="card cardAuthors row" *ngFor="let user of userList;let i =index">
                        <div class="col-lg-6">
                            <img src="{{imgUrl}}{{user.image}}" alt="author" />
                        </div>

                        <div class="col-lg-6">
                            <p>{{user.name}}</p>
                        </div>

                    </div>




                </div>
            </div>


        </div>




    </div>
</main>

<footer>
    <app-footer></app-footer>
</footer>